%script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
%script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}

.row
  .col-sm-7.col-md-8
    .lager-image
      .img
  .col-sm-5.col-md-4(style='height: 50rem;')
    .leodis-content
      %header
        %h1
          Первая Мужская Клиника
      %p.summary
        Оказывает медицинскую помощь при таких заболеваниях мочеполовой системы, как:
        %br
        \- простатиты, уретриты и другие воспалительные процессы
        %br
        \- инфекции, передаваемые половым путем
        %br
        \- эректильная дисфункция и другие сексуальные дисфункции
        %br
        Наша основная специализация – диагностика и лечение сложных случаев перечисленных заболеваний.
  .col-sm-4
    .owl-img.img
  .col-sm-4
    .owl-content
      %h3
        Оборудование
      %p.own-summary
        Оснащение медицинских учреждений должно удовлетворять повышенным требованиям к вентиляции, освещению, водоснабжению, канализации, электропроводке, материалам отделки интерьера и так далее.
        Проект помещения «Первой мужской клиники» был разработан специально – все перечисленные коммуникации проложены в соответствии с санитарными требованиями и нормами. Клиника укомплектована аппаратурой последнего поколения. Большая часть оборудования уникальна для Мариуполя; более того, некоторые медицинские аппараты, имеющиеся в клинике, доступны только в нескольких крупных городах Украины.
        В «Первой мужской клинике» внедрены самые современные стандарты обеспечения стерильности.
  .col-sm-4
    .profile
      .profile-content.certificate
        = link_to certificate_path do
          .img
        .profile-content-copy
          %p.category
            Наши Сертификаты
          %p.profile-summary
            Деятельность Первой Мужской Клиники лицензирована согласно закону 02.02.2011 №49 Министерства охраны здоровья Украины
  .col-sm-5.col-md-4(style='height: 50rem;')
    .find-leodis
      %header
        %h3
          Как нас найти
        %p.summary
          Первая Мужская Клиника находиться по адресу пр. Металлургов, д84б. Если ехать на общественном транспорте Вам нужно встать на остановке "АТБ". С левого берега ходят маршрутки № 204, № 117 и № 125. С центра города можно доехать на маршрутка № 205, №109 и №306. Если Вы едите на втомобиле, Вам нужно сьехать с проспекту Металлургов между улицами Кафайская и Фонтанная. Во дворе клиники есть парковка
  .col-sm-7.col-md-8
    .map-image
      %div(style='width: 100%;')
        #map(style='width: 100%; height: 500px;')

  = render "layouts/instagram"

- content_for :scripts do
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });

