.row
  .icp-hero
    .col-sm-3.hidden-xs.icp-hero-one.admin
    .col-sm-5.icp-hero-two.admin
    .col-sm-4.hidden-xs.icp-hero-three.admin
    .col-sm-4.hidden-xs.icp-hero-four.admin
  .article.col-sm-8.col-sm-offset-2.article.col-md-6.col-md-offset-3
    %h1
      Менеджмент клиники
    %p.category
      Первая Мужская Клиника использует принцип оптимального сочетания централизации и децентрализации в управление клиники
    %p.article-content
      Это позволяет каждому работнику клиники, точно занть чем он должен заниматься и максимально принести пользу Первой Мужской Клиники и нашим пациентам.
      %br
      %br
      Система учета и записи на прием реализована таким образом, что бы максимально сократить ожидание пациента в клинике, будь то консультация или лечение
      %br
      %br
      Администраторы Первой Мужской Клиники постоянно работают над тем, что бы удобство предоставляемых услуг было на высшем уровне. Внимание уделяется каждому этапу.
      %br
      %br
      Первая Мужская Клиника осуществляет индивидуальный подход к каждому пациенту. Правильный и своевременный диагноз, профессионализм врачей – залог успешного лечения.
    = link_to root_path do
      %i.fa.fa-long-arrow-left.fa-3x

  = render "layouts/instagram"