.row
  .icp-hero
    .col-sm-3.hidden-xs.icp-hero-one.doctor
    .col-sm-5.icp-hero-two.doctor
    .col-sm-4.hidden-xs.icp-hero-three.doctor
    .col-sm-4.hidden-xs.icp-hero-four.doctor
  .article.col-sm-8.col-sm-offset-2.article.col-md-6.col-md-offset-3
    %h1
      Доктора клиники
    %p.category
      Первая Мужская Клиника привлекает, если это необходимо, для консультаций практикующих врачей – ведущих специалистов города и области, разработчиков новых стандартов лечения мужских заболеваний.
    %p.article-content
      Чтобы сделать диагностику максимально точной, а лечение – максимально результативным, в «Первой мужской клинике» введен уникальный стандарт обслуживания клиентов: с каждым пациентом работают два врача – лечащий и контролирующий.
      %br
      %br
      Контролирующий врач в курсе всех действий лечащего врача: назначения анализов и лечения, выставления диагнозов и пр. Он может подтвердить их правильность (в карте пациента ставится соответствующая отметка) или высказать свои замечания, касающиеся диагностических процедур, внести предложения по корректировке курса лечения и пр. Эти замечания и предложения обсуждаются обоими специалистами. Предложения учитываются и фиксируются в карте. Таким образом, фактически пациента ведут два врача.
      %br
      %br
      Любой врач, работающий в клинике, является лечащим и в то же время контролирующим для другого врача. Например, доктор A ведет пациентов, которые записались к нему на прием, – любой другой специалист (например, B) может быть для этих пациентов контролирующим врачом.
      После завершения приема в клинике собирается своеобразный консилиум, где каждый сотрудник отчитывается о сделанной за день работе, а прикрепленный к нему контролирующий специалист просматривает карты пациентов и вносит свои предложения по диагностическим и лечебным процедурам.
      %br
      %br
      Такой подход позволяет существенно улучшить качество работы:
      \- сводится к минимуму вероятность врачебной ошибки;
      %br
      \- увеличивается эффективность диагностики и лечения в сложных случаях;
      %br
      \- врачи тщательно относятся к каждому этапу обследования и подробно заполняют карту пациента.
      %br
      %br
      В Первой Мужской Клинике внедрены самые современные стандартыобеспечения стерильности:
      %br
      \- подробный алгоритм для сотрудников, осуществляющих дезинфекцию помещений, продуман вплоть до определенного цвета тряпок для каждой зоны помещения;
      %br
      \- все помещения клиники снабжены мощными бактерицидными рециркуляторами воздуха, которые производят безостановочную очистку воздуха от возможных вирусов и бактерий;
      %br
      \- при проведении процедур во всех случаях, когда это возможно, используются высококачественные одноразовые инструменты ведущих производителей медицинского оборудования;
      %br
      \- в клинике осуществляется двухуровневый контроль качества стерилизации, что сводит к нулю возможность передачи инфекции.
    = link_to root_path do
      %i.fa.fa-long-arrow-left.fa-3x
  = render "layouts/instagram"