.site-wrapper(id="site-wrapper")
  .container-fluid(id="containing-wrapper")
    .row
    .icp-hero
      .col-sm-3.hidden-xs.icp-hero-one.doctor
      .col-sm-5.icp-hero-two.doctor
      .col-sm-4.hidden-xs.icp-hero-three.doctor
      .col-sm-4.hidden-xs.icp-hero-four.doctor
    .article.col-sm-8.col-sm-offset-2.article.col-md-6.col-md-offset-3
      %h1
        Доктора клиники
      %p.category
        Слоган доктора клиники, около 20 слов
      %p.article-content
        Полный рассказ о докторах в клинике, около 250 слов
        %br
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
        %br
        %br
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        %br
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      = link_to root_path do
        %i.fa.fa-long-arrow-left.fa-3x