- meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, политика конфиденциальности", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Политика конфиденциальности Первой Мужской Клиники"
.row
  .col-sm-12
    .forum-header
      %h1
        Политика конфиденциальности
      %p
        Ниже представлены цены на услуги и процедуры Первой Мужской Клиники
.row
  .col-sm-12
    .forum-header
      %h2
        Консультация специалистов
      %table(border="1" class="price")
        %thead
          %tr
            %th>Название услуги
            %th>Цена

        %tbody
          %tr
            %td
              Консультация уролога
            %td
              200 грн
          %tr
            %td
              Повторная консультация уролога
              %span.red
                **
            %td
              100 грн
          %tr
            %td
              Дополнительная консультация
            %td
              50 грн
          %tr
            %td
              Консультация дерматолога
            %td
              150 грн
          %tr
            %td
              Повторная консультация дерматолога
              %span.red
                **
            %td
              100 грн
          %tr
            %td
              Разработка схемы лечения
            %td
              150 грн
      %h2
        Диагностические процедуры
      %table(border="1" class="price")
        %thead
          %tr
            %th>Название услуги
            %th>Цена

        %tbody
          %tr
            %td
              Анализ секрета предстательной железы
            %td
              100 грн
          %tr
            %td
              Мазок
            %td
              100 грн
          %tr
            %td
              Спермограмма
            %td
              200 грн
          %tr
            %td
              Общий анализ мочи
            %td
              50 грн
      %h2
        Основные лечебные манипуляции
      %table(border="1" class="price")
        %thead
          %tr
            %th>Название услуги
            %th>Цена

        %tbody
          %tr
            %td
              В/м инъекция
              %span.red
                *
            %td
              20 грн
          %tr
            %td
              В/в инъекция
              %span.red
                *
            %td
              30 грн
          %tr
            %td
              В/в капельница
            %td
              50 грн
          %tr
            %td
              Забор материала для исследований в лаборатории INVITRO или Synevo(1 единица)
            %td
              20 грн
          %tr
            %td
              Массаж предстательной железы
            %td
              70 грн
          %tr
            %td
              Катетеризация мочевого пузыря
            %td
              200 грн
          %tr
            %td
              ВЛОК(1 процедура)
            %td
              150 грн
          %tr
            %td
              УФОК(1 процедура)
            %td
              150 грн
          %tr
            %td
              Zepter Bioptron(10 процедур)
            %td
              500 грн
          %tr
            %td
              Полный курс лечения (20 дней)
            %td
              5000 грн
          %tr
            %td
              Малый курс лечения (10 дней)
            %td
              2500 грн
      %p.text-left
        %span.red
          *
        В цены не включается стоимость расходуемых материалов
        %br
        %span.red
          **
        Повторной считается консультация, проводимая в течение одного месяца после первичной консультации по поводу одного клинического случая.


