- meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, политика конфиденциальности", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Политика конфиденциальности Первой Мужской Клиники"
.row
  .col-sm-12
    .forum-header
      %h1
        Политика конфиденциальности
.row
  .article.col-sm-8.col-sm-offset-2.article.col-md-6.col-md-offset-3
    %p.category
      Принципы защиты персональных данных Первой Мужской Клиники
    %p.article-content
      Первая Мужская Клиника очень серьезно относится к защите персональных данных. Следующие принципы лежат в основе нашего подхода к защите персональных данных:
      %br
      %br
      Мы ценим доверие, которое Вы оказываете нам, предоставляя Ваши персональные данные. Мы всегда будем использовать Ваши персональные данные честными и достойными Вашего доверия способами.
      %br
      %br
      Мы будем предоставлять четкую информацию о том, как мы используем Ваши персональные данные. Для Вас должно всегда быть понятным то, какую информацию мы собираем, что мы с ней делаем, с кем мы делимся ею, и к кому следует обратиться, если у Вас возникли какие-либо вопросы.
      %br
      %br
      Мы предпримем все необходимые меры для защиты персональных данных от неправомерного использования и обеспечения их безопасного хранения.
      %br
      %br
      Мы будем соблюдать все действующие законы и правила о защите персональных данных и будем сотрудничать с государственными органами, ответственными за защиту персональных данных. При отсутствии законодательства о защите персональных данных мы будем действовать в соответствии с общепринятыми принципами защиты данных.