.container-fluid{"ng-app"=>"m1clinic"}
  .panel.panel-success
    .panel-heading
      %h1{"ng-if"=>"name"}
        Hello, {{name}}
    .panel-body
      %form.form-inline
        .form-group
          %input.form-control{"ng-model"=>"name"}(type="text" placeholder="Enter you name" autofocus)