- meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, обратная связь", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Напишите письмо в Первую Мужскую Клинику"
.row
  .col-sm-12
    .getintouch-header
      %h1
        Вопросы, замечания
      %p
        Если у вас есть вопросы или замечания по работе клиники, мы с радостью на них ответим. Для этого необходимо заполнить свои контактные данные, Ваше имя, адрес электроной почты и написать Ваше сообщение. Нам очень важно Ваше мнение, напишите нам. После отправки Ваших данных, администраторы Первой Мужской Клиники, ответят Вам в ближайшее рабочее время.
  .col-sm-12
    .contact
      = render "letters/form"
  .col-sm-12
    .address
      %address
        "Первая Мужская Клиника"
        %br
        г. Мариуполь, ул. Металлургов, дом 84б
        %br
        87500
      %a(href="tel:+38-0629-48-20-49")
        +38-0629-48-20-49
      %br
      %a(href="tel:+38-066-995-95-96")
        +38-066-995-95-96
      %br
      %a(href="tel:+38-097-598-99-88")
        +38-097-598-99-88
      %br
      %a(href="mailto:1mensclinic@gmail.com")
        1mensclinic@gmail.com
.row
  = render "layouts/instagram"

