<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Поиск анализов</h1>
</header>
<section class="row">
  <form>
    <div class="form-group col-md-6 col-md-offset-3">
      <label for="keywords" class="sr-only">Keywords</label>
      <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="название анализа, что будете сдавать">
    </div>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search(keywords)" class="btn btn-primary btn-lg">Поиск</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-if="recipes">
  <h1 class="text-center h2">Результат</h1>
    <ul class="list-unstyled">
        <li ng-repeat="recipe in recipes">
          <section class="well col-md-6 col-md-offset-3">
            <h1 class="h3 col-md-8" style="margin-top: 0"><a href="#">{{recipe.name}}</a></h1>
              <h1 class="h4 col-md-8" style="margin-top: 0"><a href="#">{{recipe.description}}</a></h1>
            <div class="col-md-4">
              <button class="btn btn-info">Стоимость</button>
            </div>
          </section>
        </li>
      </ul>
 </section>