.forum-image .img {
  background-image: url(asset-path('administration.jpg'));
}
.profile-content .img {
  background-image: url(asset-path('client1.jpg'));
}
.place-image .img {
  background-image: url(asset-path('doctor_online.jpg'));
}
.profile-content.doctor .img {
  background-image: url(asset-path('doctor_online.jpg'));
}
.profile-content.admin .img {
  background-image: url(asset-path('admin.jpg'));
}
.profile-content.lab .img {
  background-image: url(asset-path('laboratory.jpg'));
}
.profile-content.partner3 .img {
  background-image: url(asset-path('sinevo.jpg'));
}
.profile-content.partner2 .img {
  background-image: url(asset-path('invitro.jpg'));
}
.profile-content.partner1 .img {
  background-image: url(asset-path('sinevo.jpg'));
}