.forum-image .img {
  background-image: url(asset-path('1m_clinic_reception.jpg'));
}
.profile-content .img {
  background-image: url(asset-path('history_home.jpg'));
}
.place-image .img {
  background-image: url(asset-path('1m_clinic_doctor_ipad.jpg'));
}
.profile-content.doctor .img {
  background-image: url(asset-path('1m_clinic_doctor_home.jpg'));
}
.profile-content.admin .img {
  background-image: url(asset-path('1m_clinic_admin.jpg'));
}
.profile-content.lab .img {
  background-image: url(asset-path('1m_clinic_laboratory.jpg'));
}
.profile-content-partners.partner3 .img {
  background-image: url(asset-path('logo_partners1.jpg'));
}
.profile-content-partners.partner2 .img {
  background-image: url(asset-path('logo_partners2.jpg'));
}
.profile-content-partners.partner1 .img {
  background-image: url(asset-path('logo_partners.jpg'));
}
.lager-image .img {
  background-image: url(asset-path('m1_clinic_team.jpg'));
}
.owl-img.img {
  background-image: url(asset-path('1m_clinic_inventory.jpg'));
}
.profile-content.certificate .img {
  background-image: url(asset-path('certificate.jpg'));
}
.map-image .img {
  background-image: url(asset-path('map.png'));
}
.icp-hero-one {
  background-image: url(asset-path('history_2.jpg'));
  height: 50rem;
}
.icp-hero-two {
  background-image: url(asset-path('1m_clinic_client.jpg'));
  height: 50rem;
}
.icp-hero-three {
  background-image: url(asset-path('history.jpg'));
  height: 25rem;
}
.icp-hero-four {
  background-image: url(asset-path('history_4.jpg'));
  height: 25rem;
}
.icp-hero-one.admin {
  background-image: url(asset-path('administration.jpg'));
  height: 50rem;
}
.icp-hero-two.admin {
  background-image: url(asset-path('1m_clinic_admin_ipad_2.jpg'));
  height: 50rem;
}
.icp-hero-three.admin {
  background-image: url(asset-path('1m_clinic_doctor_admin.jpg'));
  height: 25rem;
}
.icp-hero-four.admin {
  background-image: url(asset-path('blank_administration_logo.jpg'));
  height: 25rem;
}
.icp-hero-one.cabinet {
  background-image: url(asset-path('question.jpg'));
  height: 50rem;
}
.icp-hero-two.cabinet {
  background-image: url(asset-path('chat.jpg'));
  height: 50rem;
}
.icp-hero-three.cabinet {
  background-image: url(asset-path('answer.jpg'));
  height: 25rem;
}
.icp-hero-four.cabinet {
  background-image: url(asset-path('blank_administration_logo.jpg'));
  height: 25rem;
}
.icp-hero-one.doctor {
  background-image: url(asset-path('doctor.jpg'));
  height: 50rem;
}
.icp-hero-two.doctor {
  background-image: url(asset-path('1m_clinic_doctor_ipad_2.jpg'));
  height: 50rem;
}
.icp-hero-three.doctor {
  background-image: url(asset-path('1m_clinic_doctor_laboratory_3.jpg'));
  height: 25rem;
}
.icp-hero-four.doctor {
  background-image: url(asset-path('1m_clinic_doctor_laboratory_2_421X250.jpg'));
  height: 25rem;
}
.icp-hero-one.laboratory {
  background-image: url(asset-path('laboratory.jpg'));
  height: 50rem;
}
.icp-hero-two.laboratory {
  background-image: url(asset-path('1m_clinic_laboratory_527X500.jpg'));
  height: 50rem;
}
.icp-hero-three.laboratory {
  background-image: url(asset-path('1m_clinic_laboratory_2_421X500.jpg'));
  height: 25rem;
}
.icp-hero-four.laboratory {
  background-image: url(asset-path('1m_clinic_doctor_laboratory_2_421X250.jpg'));
  height: 25rem;
}
.map-image .img {
  background-image: url(asset-path('map.png'));
}
.profile-content-partners {
  height: 30rem;
  background: #fff;
  text-align: center;
}
.profile-content-partners .img{
  background-size: cover;
  background-position: center center;
  height: 20rem;
}
.col-sm-12.title{
  background: #1096e6;
  text-align: center;
  color: #fff
}
.col-sm-12.icp-hero-two.procedures{
  background-image: url(asset-path('m1_clinic_team_2.jpg'));

}
@media (min-width: 992px){
  .site-wrapper{
    margin-top: 84px;
  }
  .profile-content-partners {
    height: 30rem;
  }
  .profile-content-partners .img{
    height: 28rem;
  }
}
li.login {
  width: 30px;
}
ul.cabinet{
  padding-top: 15px;
}
li.image-cabinet{
  padding-bottom: 5px;

}
a.red{
  color: red;
  padding-left: 80px;
}
a.certificate {
  margin: 10px;
}
.col-sm-4.cabinet{
  background-color: #00356c;
  color: white;
}
.forum-content{
  color: white;
}
.forum-content a{
  color: white;
}
.forum-content a:hover{
  color: #1096e6;
}
.leodis-content{
  color: white;
}
.leodis-content a{
  color: white;
}
.leodis-content a:hover{
  color: #1096e6;
}
.profile a:hover{
  color: #1096e6;
}
.events-calendar a{
  color: white;
}
.events-calendar, .calendar-content a:hover{
  color: #1096e6;
}
.place-content{
  color: white;
}
.place-content a{
  color: white;
}
.place-content a:hover{
  color: #1096e6;
}
a:hover{
  color: #1096e6;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #1096e6;
}
.site-social-media a:hover{
  color: #1096e6;
}
.find-leodis{
  background: #fff;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
.place-content.red{
  background: #FE0000;
  color: white;
}
.place-content.red p.location, .place-content.red p.category{
  color: #3F0000;
}

.place-content.red a:hover{
  color: #3F0000;
}
.forum-header h2{
  font-size: 1.8rem;
}
table.price{
  width: 100%;
}
.price thead tr:nth-child(1){
  background: #1096e6;
  color: white;
}
th{
  text-align: center;
  width: 85%;
}
.ab{
  height: 300px;
}
.blue{
  background: #1096e6;
  color: white;
}
span.red{
  color: #FE0000;
}