.row
  .col-sm-7.col-md-8
    .place-image
      .img
  .col-sm-5.col-md-4
    .place-content
      .place-content-copy
        %p.category
          Ваш
        %h3
          Доктор Онлайн
        %p.location
          Проконсультируйтесь у врача
        %p.summary
          Сервис "Доктор Онлайн" разработан специально для Вас. Это возможность получить бесплатную консультацию докторов Первой Мужской Клиники, где бы Вы не находились
        = link_to doctor_online_path do
          %i.fa.fa-long-arrow-right.fa-3x
        .social-medis
        %a.share.facebook(href="https://www.facebook.com/1mensclinic/")
          %i.fa.fa-facebook
        %a.share.twitter(href="google.com/+1mclinicUaMr")
          %i.fa.fa-google-plus