<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none;">
  <div class="modal-body">
    <p>Письмо удачно создано, наши администраторы свяжутся с Вами в ближайшее рабочее время</p>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">Продолжить</button>
  </div>
</div>